html, body{
	font-family: 'Victor Mono', monospace;
	margin: 0;
}
::selection {
	background: rgb(128, 245, 173);
	color: black;
}
a{
	color:rgb(145, 201, 239);
}
body{
	background-color: rgb(19, 21, 20);
	color: hsl(0, 0%, 89%);
}

main{
	max-width: 1200px;
	width: 100%;
	margin: 1em auto;
}

header{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
h1{
	font-size: 1.8em;
  	margin-top: 0.5em;
}

.mapbox-map{
	width: 100%;
	aspect-ratio: 16 / 9;
	color: rgb(249, 138, 230);
	box-shadow: 0px 0px 14px 1px rgba(255,255,255,0.05);
}

.options{
	margin: 1em 0;
	font-size: 0.7em;
	text-align: right;
}

.marker_aircraft{
	width:40px;
	height:40px;
	cursor: pointer;
	z-index: 10;
	position: relative;
	background: none;
	border-radius: 100%;
}
.marker_aircraft:hover{
	background: rgba(255,255,255,0.2);
}
.marker_aircraft > i{
	background-image: url(/assets/images/plane-white.svg);
	background-size:100%;
	width:30px;
	height:30px;
	left: 5px;
	top: 5px;
	position: absolute;
}
.marker_aircraft.is_intersect{
	background: rgba(188, 152, 11, 0.76);
	animation: 0.4s linear infinite alternate aircraft-incursion;
}

@keyframes aircraft-incursion {
	from {background: rgba(142, 85, 12, 0.76);}
	to {background: rgba(188, 152, 11, 0.76);}
}



.stats{
	display:flex;
	margin: 20px 0 10px;
}
.stat{
	/*border: 1px solid hsla(0, 0%, 100%, 50%);*/
	border-bottom: 1px solid white;
	margin-bottom: 8px;
	padding: 0 0 8px 0;
	width: calc(60% / 3);
}
.stat:not(:last-of-type){
	margin-right: 25px;
}
.stat h2{
	margin:0;
	padding:0;
	font-size: 3em;
	font-family: 'Courier New', Courier, monospace;
	font-weight: 800;
}
.stat p{
	margin:-2px 0 0 0;
	padding:0 0 3px 2px;
}
.live-tag{
	font-size: 0.6em;
	display: inline-block;
	background: rgb(30, 192, 93);
	padding: 0.1em 0.2em;
	border-radius: 3px;
	color: black;
	transform: translate(4px, -5px);
	animation: 0.8s linear infinite alternate live-tag-background;
}
@keyframes live-tag-background {
	from {background: rgb(30, 192, 93);}
	to {background: rgb(128, 245, 173);}
}

.flight-data{
}

.is-incursion{
	background: rgba(142, 85, 12, 0.76);
	animation: 0.4s linear infinite alternate incursion-background;
}

@keyframes incursion-background {
	from {background: rgba(142, 85, 12, 0.76);}
	to {background: rgba(188, 152, 11, 0.76);}
}
.is-incursion h2, .is-incursion p{
	margin-left: 10px;
}