/* *********************************************************** */
/* Global vars                                                 */
/* *********************************************************** */

:root {
	--color-primary: rgb(128, 245, 173);
	--color-primary-darker: rgb(30, 192, 93);

	--color-map-bg: rgb(28, 59, 46);
	--color-incursion: rgb(255, 101, 32);
	--color-incursion-area: rgba(188, 152, 11);

	--color-page-bg: rgb(19, 21, 20);
	--color-body-text: hsl(0, 0%, 89%);
	--color-link: rgb(251, 255, 215);
}


/* *********************************************************** */
/* Page layout                                                 */
/* *********************************************************** */


html, body{
	font-family: 'Victor Mono', monospace;
	margin: 0;
}
::selection {
	background: var(--color-primary);
	color: var(--color-page-bg);
}
a{
	color: var(--color-link);
}
body{
	background-color: var(--color-page-bg);
	color: var(--color-body-text);
}

main{
	max-width: 1200px;
	width: 100%;
	margin: 1em auto;
}

header{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
h1{
	font-size: 1.8em;
  	margin-top: 0.5em;
}

/* *********************************************************** */
/* Main map box                                                */
/* *********************************************************** */

.data-box-container{
	box-shadow: 0px 0px 14px 1px rgba(255,255,255,0.05);
	width: 100%;
	aspect-ratio: 16 / 9;
	position: relative;
}

.map{
	width: 100%;
	height: 100%;
	background: var(--color-map-bg);
}
.timeline{
	width: 100%;
	height: 100%;
}

/* *********************************************************** */
/* Options menu at page bottom                                 */
/* *********************************************************** */

.options{
	margin: 1em 0;
	font-size: 0.7em;
	text-align: right;
	display: flex;
  	justify-content: space-between;
}
.options ul{
	list-style: '|';
	display:flex;
	margin:0;
	padding:0;
	justify-content: flex-end;
}
.options li{
	text-align: left;
	margin-left: 15px;
	padding-left: 8px;
}
.options li:first-of-type, .options:not(.is-expanded) li:last-of-type{
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}
.options:not(.is-expanded) li:not(:last-of-type){
	display: none;
}
.options.is-expanded .toggle-button .expand-msg,
.options:not(.is-expanded) .toggle-button .close-msg{
	display: none;
}

/* *********************************************************** */
/* Aircraft markers on map                                     */
/* *********************************************************** */

.marker_aircraft{
	width:40px;
	height:40px;
	cursor: pointer;
	z-index: 10;
	position: relative;
	background: none;
	border-radius: 100%;
}
.marker_aircraft:hover{
	background: rgba(255,255,255,0.2);
}
.marker_aircraft > i{
	background-image: url(../assets/images/plane-white.svg);
	background-size:100%;
	width:30px;
	height:30px;
	left: 5px;
	top: 5px;
	position: absolute;
}
.marker_aircraft.icon_helicopter > i{
	background-image: url(../assets/images/helicopter.svg);
}
.marker_aircraft.is_intersect{
	background: color-mix(in srgb, var(--color-incursion) 76%, transparent);
	animation: 0.4s linear infinite alternate aircraft-incursion;
}

@keyframes aircraft-incursion {
	from {background: color-mix(in srgb, var(--color-incursion) 76%, transparent);}
	to {background: color-mix(in srgb, var(--color-incursion-area) 76%, transparent);}
}

/* *********************************************************** */
/* Stats panel at top of screen                                */
/* *********************************************************** */

.stats{
	display:flex;
	margin: 20px 0 0;
}
.stat{
	/*border: 1px solid hsla(0, 0%, 100%, 50%);*/
	border-bottom: 1px solid white;
	margin-bottom: 18px;
	padding: 0 0 8px 0;
	width: calc(60% / 3);
	position: relative;
}
.stat:not(:last-of-type){
	margin-right: 25px;
}
.stat h2{
	margin:0;
	padding:0;
	font-size: 3em;
	font-family: 'Courier New', Courier, monospace;
	font-weight: 800;
}
.stat p{
	margin:-2px 0 0 0;
	padding:0 0 3px 2px;
}

.progress-line{
	content: "";
	position: absolute;
	height: 1px;
	width: 30%;
	background: var(--color-primary);
	bottom: -0.5px;
}

.live-tag{
	font-size: 0.6em;
	display: inline-block;
	background: var(--color-primary-darker);
	padding: 0.1em 0.2em;
	border-radius: 3px;
	color: black;
	transform: translate(4px, -6px);
	animation: 0.8s linear infinite alternate live-tag-background;
}
@keyframes live-tag-background {
	from {background: var(--color-primary-darker);}
	to {background: var(--color-primary);}
}


.incursion-line{
	content: "";
	position: absolute;
	height: 4px;
	width: 100%;
	background: var(--color-incursion);
	bottom: -1px;
	animation: 0.4s linear infinite alternate incursion-line-background;
	box-shadow: 0px 0px 31px 4px color-mix(in srgb, var(--color-incursion) 40%, transparent);
	display:none;
}

.is-incursion h2{text-shadow: 0px 0px 10px var(--color-incursion);}
.is-incursion .incursion-line{display: block;}

@keyframes incursion-line-background {
	from {
		background: var(--color-incursion);
		box-shadow: 0px 0px 31px 4px color-mix(in srgb, var(--color-incursion) 70%, transparent);
	}
	to {
		background: var(--color-incursion-area);
		box-shadow: 0px 0px 31px 4px color-mix(in srgb, var(--color-incursion-area) 70%, transparent);
	}
}

/* *********************************************************** */
/* Tab menu to toggle map / timeline view                      */
/* *********************************************************** */

.tab-menu{
	flex-grow: 1;
	display: flex;
	align-items: flex-end;
	justify-content: end;	
}
.tab-menu a{
	text-decoration: none;
	color: white;
	font-weight: 600;
	background: black;
	padding: 0.3em 0.7em;
	margin-left: 5px;
	transition: 0.05s all ease-in;
}

.tab-menu a:not(.selected):hover{
	padding-bottom: 0.5em;
}

[data-view="map"] .data-box-container .map{display:block;}
[data-view="map"] .data-box-container .timeline{display:none;}
[data-view="timeline"] .data-box-container .map{display:none;}
[data-view="timeline"] .data-box-container .timeline{display:flex;}

[data-view="map"] .tab-menu a[href="#map-view"],
[data-view="timeline"] .tab-menu a[href="#timeline-view"]{
	background: var(--color-map-bg);
}

/* *********************************************************** */
/* Timeline view                                               */
/* *********************************************************** */

.timeline{
	background: var(--color-map-bg);
	flex-direction: column;
}
.timeline .graph{
	aspect-ratio: 16/5;
	padding: 20px;
}
.timeline .event-log{
	flex-grow: 1;
}


/* *********************************************************** */
/* Mouse follower popup                                        */
/* *********************************************************** */


.mouse-follower{
	position: fixed;
	display: flex;
	pointer-events: none;
	top: 20px;
	left: -250px;
	width: 500px;
	justify-content: center;
	z-index: 5000;
}
.mouse-follower span{
	display: block;
	background: hsl(0, 0%, 100%, 0.95);
	color: black;
	font-size: 0.7em;
	font-weight: 700;
	padding: 0.15em 0.5em;
	border-top: 3px solid #fff;
}
.mouse-follower:not(.has-border) span{border-top-width: 0px;}
.mouse-follower:not(.is-visible){
	display:none;
}